<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pers.yinjp.airportpost.login.dao.LoginMapper">
<!--    <select id="getUserAccount" resultType="Integer">-->
<!--        select count(*) from user-->
<!--    </select>-->

    <select id="loginOperation" resultType="Integer" parameterType="String">
        select count(*) from tb_user where USER_ACCOUNT = #{param1} and USER_PASSWORD = #{param2}
    </select>
</mapper>